<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>namoo.yorizori2</display-name>
  <!-- 여기에 등록된 파일은 반드시 webapp아래에 있어야함  -->
  <welcome-file-list>
  	<welcome-file>home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 500번대 에러 처리 -->
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/WEB-INF/views/error/error_500.jsp</location>
  </error-page>
  
  <!-- 내가 만든 예외처리를 하는 화면 처리 -->
    <error-page>
  	<exception-type>namoo.yorizori.common.web.YzRuntimeException</exception-type>
  	<location>/WEB-INF/views/error/error_yorizori.jsp</location>  
  </error-page>
  
  <!-- 400번대 에러 처리 -->
    <error-page>
  	<error-code>400</error-code>
  	<location>/WEB-INF/views/error/error_400.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/views/error/error_404.jsp</location>
  </error-page>
  
  
  
  <servlet>
  	<servlet-name>index</servlet-name>
  	<jsp-file>/WEB-INF/MainSite/index.jsp</jsp-file>
  </servlet>
  
  <!-- index.jsp을 url에 요청할때 어떻게 요청하겠습니까? -->
  <servlet-mapping>
  	<servlet-name>index</servlet-name>
  	<url-pattern>/index.do</url-pattern>
  </servlet-mapping>
</web-app>